body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-expand-sm {
    justify-content: space-between;
}

.navbar {
    height: 140px;
    padding: 8px 0px;
}

a.nav-item.nav-link.text-dark {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

a.nav-item.nav-link.text-dark:active {
    background-color: #f5f6f8;
}

a.nav-item.nav-link.text-dark:hover {
    opacity: 0.8;
    transform: scale(1.2);
    border-bottom: 2px solid black;
}

.banner-img {
    position: relative;
}

.img-title {
    position: absolute;
    bottom: 30%;
    left: 25%;
    width: 524px;
    height: 165px;
    text-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
    font-size: 90px;
    font-weight: 900;
    line-height: 1.11;
    letter-spacing: 9px;
    text-align: center;
    color: #ffffff;
}

.more:hover {
    width: 120px;
    border-bottom: 2px solid black;
}

.line-block {
    position: relative;
}


.mt {
    margin-top: 60px;
}

.news-letter {
    margin-top: 90px;
}

.news-letter-pic {
    position: relative;
}

.news-letter-title {
    position: absolute;
    bottom: 80px;
    left: 35%;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.signup-button {
    padding: 5px 40px;
    border-radius: 25px;
    font-weight: bold;
}

.signup-button:active {
    transform: scale(.95);
}

.signup-button:hover {
    background-color: #b2b5b8;
}

.information {
    text-align: center;
}

.catalogue {
    position: relative;
}

.pic-tab {
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 35%;
    align-self: auto;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}