@charset "UTF-8";
body {
  background-color: #e6e4e4;
}
body header .block {
  display: block;
  position: relative;
  background-color: grey;
  color: grey;
  width: 60px;
  height: 70px;
  margin-left: 320px;
  margin-bottom: -10px;
  transition: all 0.6s;
}
body header .block:hover {
  background-color: #000;
  color: #000;
  transform: rotate(90deg) scale(0.9);
  cursor: pointer;
}
body header h1 {
  font-size: 53px;
  color: #524e4e;
  font-family: sans-serif;
  font-weight: 400;
}
body header h3 {
  margin-top: -5px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #7b7b7b;
  font-family: sans-serif;
}

.timeline-item {
  width: 505px;
  padding: 5px 5px;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 0.3s;
}
.timeline-item:hover {
  box-shadow: 0px 0px 15px grey;
}
.timeline-item h5 {
  color: #6f6f6f;
  margin-top: 15px;
}
.timeline-item p {
  color: #a5a5ae;
}
.timeline-item p a {
  color: #64b9b9;
  text-decoration: none;
}
.timeline-item p a:hover {
  color: red;
  text-shadow: 0.2px 0.2px 2px red;
}
.timeline-item img:hover {
  transform: scale(1.05) rotate(-5deg);
}

.even {
  margin-left: -67px;
  position: relative;
}
.even::before {
  content: "●";
  position: absolute;
  width: 2px;
  height: 200%;
  background-color: #64b9b9;
  color: #64b9b9;
  line-height: 6.5;
  text-indent: -3.5px;
  margin-left: -89px;
  margin-top: -10px;
}
.even h5::before {
  content: "";
  position: absolute;
  left: 20px bottom -20px;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  margin-left: -70px;
  margin-top: 17px;
}
.even img {
  position: absolute;
  padding-top: 30px;
  margin-left: -35px;
}

.odd {
  position: relative;
}
.odd::before {
  content: "●";
  position: absolute;
  width: 2px;
  height: 200%;
  right: 0;
  background-color: #64b9b9;
  color: #64b9b9;
  line-height: 5;
  text-indent: -4px;
  margin-right: -38.5px;
}
.odd h5::after {
  content: "";
  position: absolute;
  left: 20px bottom -20px;
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  margin-left: 50px;
  margin-top: 17px;
}
.odd img {
  position: absolute;
  padding-top: 30px;
  margin-left: 15px;
}

.period h6 {
  background-color: #9d9da7;
  border-radius: 5px;
  padding-top: 7px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 29px;
  margin-top: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  transition: all 0.3s;
}
.period h6:hover {
  border-radius: 7px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(1.1);
  background-color: rgba(99, 99, 99, 0.9);
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.period .first-period {
  margin-top: 150px;
}

.timeline-data {
  margin-top: 53px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  color: #a7a6af;
}

.last {
  margin-left: 9px;
  margin-top: 30px;
}
.last::before {
  content: "";
  position: absolute;
  left: 20px bottom -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin-left: -8px;
  margin-top: -20px;
}

footer {
  margin-top: 70px;
  color: #9c9b9b;
  margin-bottom: 15px;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: #e6e4e4;
  }
  body header .block {
    display: block;
    position: relative;
    background-color: grey;
    color: grey;
    width: 60px;
    height: 70px;
    margin-left: 25%;
    margin-bottom: -10px;
  }
  body header .block:hover {
    background-color: #000;
    color: #000;
    transform: rotate(90deg) scale(0.9);
    cursor: pointer;
  }
  body header h1 {
    font-size: 53px;
    color: #524e4e;
    font-family: sans-serif;
    font-weight: 400;
  }
  body header h3 {
    margin-top: -5px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #7b7b7b;
    font-family: sans-serif;
  }

  .timeline-item {
    margin-left: 14px;
    width: 400px;
    padding: 5px 5px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }
  .timeline-item:hover {
    box-shadow: 0px 0px 15px grey;
  }
  .timeline-item h5 {
    color: #6f6f6f;
    margin-top: 15px;
  }
  .timeline-item p {
    color: #a5a5ae;
  }
  .timeline-item p a {
    color: #64b9b9;
    text-decoration: none;
  }
  .timeline-item p a:hover {
    color: red;
    text-shadow: 0.2px 0.2px 2px red;
  }
  .timeline-item img:hover {
    transform: scale(1.05) rotate(-5deg);
  }

  .even {
    margin-left: -53px;
    position: relative;
  }
  .even::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 140%;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 6.5;
    text-indent: -3.5px;
    margin-left: -89px;
    margin-top: -10px;
  }
  .even h5::before {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    margin-left: -70px;
    margin-top: 17px;
  }
  .even img {
    position: absolute;
    padding-top: 30px;
    margin-left: -35px;
  }

  .odd {
    position: relative;
  }
  .odd::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 180%;
    right: 0;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 5;
    text-indent: -4px;
    margin-right: -38.5px;
  }
  .odd h5::after {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-left: 50px;
    margin-top: 17px;
  }
  .odd img {
    position: absolute;
    padding-top: 30px;
    margin-left: 15px;
  }

  .period h6 {
    background-color: #9d9da7;
    border-radius: 5px;
    padding-top: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
  }
  .period h6:hover {
    border-radius: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: scale(1.1);
    background-color: rgba(99, 99, 99, 0.9);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  .period .first-period {
    margin-top: 150px;
  }

  .timeline-data {
    margin-top: 58px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    color: #a7a6af;
  }

  .last {
    margin-top: 30px;
  }
  .last::before {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left: -8px;
    margin-top: -20px;
  }

  footer {
    margin-top: 70px;
    color: #9c9b9b;
    margin-bottom: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 992px) {
  body {
    background-color: #e6e4e4;
  }
  body header .block {
    display: block;
    position: relative;
    background-color: grey;
    color: grey;
    width: 60px;
    height: 70px;
    margin-left: 16%;
    margin-bottom: -10px;
  }
  body header .block:hover {
    background-color: #000;
    color: #000;
    transform: rotate(90deg) scale(0.9);
    cursor: pointer;
  }
  body header h1 {
    font-size: 53px;
    color: #524e4e;
    font-family: sans-serif;
    font-weight: 400;
  }
  body header h3 {
    margin-top: -5px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #7b7b7b;
    font-family: sans-serif;
  }

  .timeline-item {
    margin-left: 14px;
    width: 300px;
    padding: 5px 5px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }
  .timeline-item:hover {
    box-shadow: 0px 0px 15px grey;
  }
  .timeline-item h5 {
    color: #6f6f6f;
    margin-top: 15px;
  }
  .timeline-item p {
    color: #a5a5ae;
  }
  .timeline-item p a {
    color: #64b9b9;
    text-decoration: none;
  }
  .timeline-item p a:hover {
    color: red;
    text-shadow: 0.2px 0.2px 2px red;
  }
  .timeline-item img:hover {
    transform: scale(1.05) rotate(-5deg);
  }

  .even {
    margin-left: -27px;
    position: relative;
  }
  .even::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 140%;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 6.5;
    text-indent: -3.5px;
    margin-left: -89px;
    margin-top: -10px;
  }
  .even h5::before {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    margin-left: -70px;
    margin-top: 17px;
  }
  .even img {
    position: absolute;
    padding-top: 30px;
    margin-left: -35px;
  }

  .odd {
    position: relative;
    margin-left: 0px;
  }
  .odd::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 180%;
    right: 0;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 5;
    text-indent: -4px;
    margin-right: -38.5px;
  }
  .odd h5::after {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-left: 50px;
    margin-top: 17px;
  }
  .odd img {
    position: absolute;
    padding-top: 30px;
    margin-left: 15px;
  }

  .period h6 {
    background-color: #9d9da7;
    border-radius: 5px;
    padding-top: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
  }
  .period h6:hover {
    border-radius: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: scale(1.1);
    background-color: rgba(99, 99, 99, 0.9);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  .period .first-period {
    margin-top: 150px;
  }

  .timeline-data {
    margin-top: 58px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    color: #a7a6af;
  }

  .last {
    width: 410px;
    margin-top: 30px;
  }
  .last::before {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left: -8px;
    margin-top: -20px;
  }

  footer {
    margin-top: 70px;
    color: #9c9b9b;
    margin-bottom: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: #e6e4e4;
  }
  body header .block {
    display: block;
    position: relative;
    background-color: grey;
    color: grey;
    width: 60px;
    height: 70px;
    margin-left: 16%;
    margin-bottom: -3px;
  }
  body header .block:hover {
    background-color: #000;
    color: #000;
    transform: rotate(90deg) scale(0.9);
    cursor: pointer;
  }
  body header h1 {
    font-size: 36px;
    color: #524e4e;
    font-family: sans-serif;
    font-weight: 400;
  }
  body header h3 {
    margin-top: -5px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #7b7b7b;
    font-family: sans-serif;
  }

  .timeline-item {
    margin-left: 14px;
    width: 360px;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }
  .timeline-item::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 132%;
    right: 0;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 6.5;
    text-indent: -3.5px;
    margin-right: -50px;
    margin-top: -20px;
  }
  .timeline-item:hover {
    box-shadow: 0px 0px 15px grey;
  }
  .timeline-item h5 {
    color: #6f6f6f;
    margin-top: 15px;
  }
  .timeline-item p {
    color: #a5a5ae;
  }
  .timeline-item p a {
    color: #64b9b9;
    text-decoration: none;
  }
  .timeline-item p a:hover {
    color: red;
    text-shadow: 0.2px 0.2px 2px red;
  }
  .timeline-item img {
    position: absolute;
    padding-top: 30px;
    margin-left: 12px;
  }
  .timeline-item img:hover {
    transform: scale(1.05) rotate(-5deg);
  }

  .even {
    text-align: right;
    position: relative;
    padding-left: 5px;
  }
  .even h5::before {
    content: "";
    position: absolute;
    right: 0;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-right: -20px;
    margin-top: 17px;
  }

  .odd {
    position: relative;
    padding-left: 5px;
  }
  .odd h5::after {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-left: 50px;
    margin-top: 17px;
  }

  .period h6 {
    background-color: #9d9da7;
    border-radius: 5px;
    padding-top: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -8px;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
  }
  .period h6:hover {
    border-radius: 7px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: scale(1.1);
    background-color: rgba(99, 99, 99, 0.9);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }

  .timeline-data {
    margin-left: 80px;
    margin-top: 58px;
    font-size: 12px;
    color: #a7a6af;
  }

  footer {
    margin-top: 70px;
    color: #9c9b9b;
    margin-bottom: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  body {
    background-color: #e6e4e4;
  }
  body header .block {
    display: block;
    position: relative;
    background-color: grey;
    color: grey;
    width: 40px;
    height: 50px;
    margin-left: 26%;
    margin-bottom: -3px;
  }
  body header .block:hover {
    background-color: #000;
    color: #000;
    transform: rotate(90deg) scale(0.9);
    cursor: pointer;
  }
  body header h1 {
    font-size: 26px;
    color: #524e4e;
    font-family: sans-serif;
    font-weight: 400;
  }
  body header h3 {
    margin-top: -5px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #7b7b7b;
    font-family: sans-serif;
  }

  .timeline-item {
    margin-left: 14px;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }
  .timeline-item::before {
    content: "●";
    position: absolute;
    width: 2px;
    height: 116.5%;
    right: 0;
    background-color: #64b9b9;
    color: #64b9b9;
    line-height: 6.5;
    text-indent: -3.5px;
    margin-right: -50px;
    margin-top: -15px;
  }
  .timeline-item:hover {
    box-shadow: 0px 0px 15px grey;
  }
  .timeline-item h5 {
    color: #6f6f6f;
    margin-top: 15px;
  }
  .timeline-item p {
    color: #a5a5ae;
  }
  .timeline-item p a {
    color: #64b9b9;
    text-decoration: none;
  }
  .timeline-item p a:hover {
    color: red;
    text-shadow: 0.2px 0.2px 2px red;
  }
  .timeline-item img {
    position: absolute;
    padding-top: 30px;
    margin-left: 12px;
  }
  .timeline-item img:hover {
    transform: scale(1.05) rotate(-5deg);
  }

  .even {
    text-align: right;
    position: relative;
  }
  .even h5::before {
    content: "";
    position: absolute;
    right: 0;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-right: -20px;
    margin-top: 17px;
  }

  .odd {
    position: relative;
  }
  .odd h5::after {
    content: "";
    position: absolute;
    left: 20px bottom -20px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    margin-left: 50px;
    margin-top: 17px;
  }

  .period h6 {
    background-color: #9d9da7;
    border-radius: 5px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -8px;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
  }
  .period h6:hover {
    border-radius: 7px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    transform: scale(1.05);
    background-color: rgba(99, 99, 99, 0.9);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }

  .timeline-data {
    margin-left: 0;
    margin-top: 58px;
    font-size: 12px;
    color: #a7a6af;
  }

  footer {
    margin-top: 70px;
    color: #9c9b9b;
    margin-bottom: 15px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
